@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B1026;
    --foreground: #fafafa;
    --secondary: #a3a3a3;
    --accent: #4facfe;
    --border: #1e293b;
    --card-hover: #111827;
  }

  .dark {
    --background: #0B1026;
    --foreground: #fafafa;
    --secondary: #a3a3a3;
    --accent: #4facfe;
    --border: #1e293b;
    --card-hover: #111827;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}